


<div class="row">

  <div class="col-md-10">
    <%= render :partial => "postbody" , :collection => @posts.order(:created_at).reverse_order %>
  </div>

  <div class="col-md-2">
    <div class="col-md-12">
      <%= link_to "Post New Message", newpost_path , :class => "btn btn-success" %>

    </div>

    <br />
    <br /><br />
    <div class="col-md-12">
      <% 
startDate = Date.new(2014 , 2 , 1)  
      currentDate = Date.today
        
while currentDate  >= startDate do
  %>
  
      <%= link_to currentDate.strftime("%B %Y") , root_path(:datefilter => currentDate.strftime("%Y%m")) %>
      <br />      
      <%
    currentDate = currentDate - 1.month
end
%>
    </div>
  </div>
</div> 

